<ul class="list-group" action="/privateCollege" method="get">
    <li class="list-group-item">College: <a href="/users/goto/{{s0}}">{{s0}}</a></li>
    <li class="list-group-item">College: <a href="/users/goto/{{s1}}">{{s1}}</a></li>
    <li class="list-group-item">College: <a href="/users/goto/{{s2}}">{{s2}}</a></li>
    <li class="list-group-item">College: <a href="/users/goto/{{s3}}">{{s3}}</a></li>
    <li class="list-group-item">College: <a href="/users/goto/{{s4}}">{{s4}}</a></li>
    <li class="list-group-item">College: <a href="/users/goto/{{s5}}">{{s5}}</a></li>
</ul>
